{% extends 'index.html' %}

{% block central %}

    <!-- Para añadir: Un elemento que despliegue una descripción de como funciona este menú -->
    <div class="container-fluid mt-3 row">
        <button class="btn btn-dark col-2">¿Necesitas ayuda?</button>
    </div>

    <div class="container-fluid mt-4 row">
        <div class="col">
            <h3 class="text-center h4">Asignaturas</h3>
        </div>

        <div class="col">
            <h3 class="text-center h4">Año académico</h3>
        </div>

        <div class="col">
            <h3 class="text-center h4">Información a visualizar (Grupos)</h3>
        </div>
    </div>
    
    <div class="container-fluid mt-5 row">
        <div class="col">
            <ul class="list-group list-group-flush scroll-list">
                {% for asignatura in asignaturas %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="asignaturas" id="{{ asignatura.id }}">
                            <label class="form-check-label" for="{{ asignatura.id }}">
                                {{ asignatura.nombre }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush scroll-list">
                {% for año in años %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="anoacademico" id="{{ año }}">
                            <label class="form-check-label" for="{{ año }}">
                                {{ año }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <ul class="list-group list-group-flush scroll-list">
                {% for i in info %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="info" id="{{ i }}">
                            <label class="form-check-label" for="{{ i }}">
                                {{ i }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid mt-5 row">
        <div class="col">
            <div class="custom-control custom-radio">
                <input type="radio" id="tabla" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="tabla">Modo tabla</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="grafica" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="grafica">Modo gráfica</label>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 row">
        <div class="col">
            <button type="submit" class="btn btn-dark">Buscar</button>
        </div>
    </div>
{% endblock %}