{% extends 'index.html' %}

{% block central %}

<h3 class="mt-4 ms-4">Gestión de copias de seguridad</h3>

<h5 class="ms-4 mt-3">Realizar copia de seguridad</h5>
<form class="col-6 mt-3 ms-5" action="/copiaseguridad" method="POST">
    {% csrf_token %}
    <div class="col-6">
        <label for="nombreDocumento">
            Introduzca el nombre del documento sin la extensión. Se almacenará en /var/backups,
            dentro del directorio de la aplicación.
        </label>
        <input type="text" class="form-control" name="nombreDocumento" id="nombreDocumento">
    </div>
    <button type="submit" class="btn btn-dark mt-3" id="realizaCopia" name="accion" value="1">Realizar copia de seguridad</button>
</form>

<h5 class="ms-4 mt-5">Restablecer copia de seguridad</h5>

<form class="col-6 mt-3 ms-5" action="/copiaseguridad" method="POST">
    {% csrf_token %}
    <div class="custom-file col-6">
        <input type="file" class="form-control" name="archivo">
    </div>

    <button type="submit" class="btn btn-dark mt-3" id="restableceCopia" name="accion" value="2">Restablecer copia de seguridad</button>
</form>

{% endblock %}