<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Inicio</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row mt-4">
                <h1>Trabajo Fin de Grado</h1>
            </div>
    
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/buscadorBBDD">Buscador Base de Datos</a>
                        </li>
                        {% if registrado == True %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Editor Base de Datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Crear copia de seguridad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cambiar datos de usuario</a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                    {% if registrado == False %}
                    <a class="btn btn-light" href="#" role="button">Inicia sesión</a>
                    {% endif %}
                </div>
            </nav>
    
            <main>
                {% block central %}
                    <h2 class="text-center mt-5">Bienvenido a la aplicación</h2>
                {% endblock %}
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Footer</span>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    </body>
</html>