{% extends 'editor.html' %}

{% block formulario %}

<div class="col-7">
    <form action="/formulario" method="GET">
        <label for="selecciontipo">Elige un tipo de dato</label>
        <select class="form-control mt-2" id="selecciontipo">
            <option>Asignatura</option>
            <option>Mención</option>
            <option>Título</option>
            <option>Área</option>
            <option>Año asignatura</option>
            <option>Grupo</option>
        </select>

        <label for="seleccionobjeto" class="mt-2">Elige uno de los datos disponibles</label>
        <select class="form-control mt-2" id="seleccionobjeto">
            <option>Crear nuevo elemento</option>
            <!-- Aquí se colocará la lista de objetos de un tipo determinado -->
        </select>
        
        <input class="btn btn-dark mt-3" type="submit" value="Generar formulario">
    </form>
</div>

{% endblock %}