{% extends 'index.html' %}

{% block central %}

<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

<div class="mt-5 ms-3">
    <h3>Asignaturas 1º</h3>
    <div class="mt-3" id="listaAsignaturas1">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 2º</h3>
    <div class="mt-3" id="listaAsignaturas2">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Comunes</h3>
    <div class="mt-3" id="listaAsignaturas3Comun">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Computación y Sistemas Inteligentes</h3>
    <div class="mt-3" id="listaAsignaturas3CSI">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Ingeniería de Computadores</h3>
    <div class="mt-3" id="listaAsignaturas3IC">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Ingeniería del Software</h3>
    <div class="mt-3" id="listaAsignaturas3IS">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Sistemas de Información</h3>
    <div class="mt-3" id="listaAsignaturas3SI">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 3º Tecnologías de la Información</h3>
    <div class="mt-3" id="listaAsignaturas3TI">
        
    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 4º Computación y Sistemas Inteligentes</h3>
    <div class="mt-3" id="listaAsignaturas4CSI">

    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 4º Ingeniería de Computadores</h3>
    <div class="mt-3" id="listaAsignaturas4IC">

    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 4º Ingeniería del Software</h3>
    <div class="mt-3" id="listaAsignaturas4IS">

    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 4º Sistemas de Información</h3>
    <div class="mt-3" id="listaAsignaturas4SI">

    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Asignaturas 4º Tecnologías de la Información</h3>
    <div class="mt-3" id="listaAsignaturas4TI">

    </div>
</div>

<div class="mt-5 ms-3">
    <h3>Prácticas de Empresa y TFG</h3>
    <div class="mt-3" id="listaAsignaturas4PETFG">

    </div>
</div>

<script>
    function colorGrupos(cell, formatterParams,tipoGrupo){
        var valorRatio = cell.getValue()
        if(valorRatio>80 && tipoGrupo=="T"){
            return "<p style='color:red;'>" + valorRatio + "</p>"
        }
        else if(valorRatio>28 && tipoGrupo=="P"){
            return "<p style='color:red;'>" + valorRatio + "</p>"
        }
        else{
            return valorRatio
        }
    }

    function modificaIncrementoTotal(celda, modificacion){
        var nuevoIncrementoTotal = celda.getValue() + modificacion
        celda.setValue(nuevoIncrementoTotal, true)
        return nuevoIncrementoTotal
    }

    function modificaCreditosTotales(celda,modificacion){
        var nuevosCreditosTotales = celda.getValue() + modificacion
        celda.setValue(nuevosCreditosTotales, true)
    }

    function colorCeldas(cell,gruposAnteriores){
        var gruposActuales = cell.getValue()
        if(gruposActuales>gruposAnteriores){
            cell.getElement().style.backgroundColor = "#6fbd85"
        }
        else if(gruposActuales<gruposAnteriores){
            cell.getElement().style.backgroundColor = "#bd6f6f"
        }
    }

    var configuracion = [
        {
            title:"Información General",
            columns:[
                {title:"Nombre",field:"Nombre"},
                {title:"Acrónimo",field:"Acronimo"},
                {title:"CR.GA",field:"CRGA"},
                {title:"CR.GR",field:"CRGR"},
                {title:"Cuatr.",field:"Cuatrimestre"},
                {title:"Tipo",field:"Tipo"}
            ]
        },
        {
            title:"Información curso pasado",
            columns:[
                {title:"AL",field:"AlumnosAnteriorespasado"},
                {title:"AL",field:"AlumnosActualespasado"},
                {title:"GA",field:"GruposGrandespasado"},
                {title:"GR",field:"GruposReducidospasado"},
                {
                    title:"Rat T",
                    field:"RatioTeoriapasado",
                    formatter:function(cell,formatterParams){
                        return colorGrupos(cell,formatterParams,"T")
                    }
                },
                {
                    title:"Rat P",
                    field:"RatioPracticaspasado",
                    formatter:function(cell,formatterParams){
                        return colorGrupos(cell,formatterParams,"P")
                    }
                }
            ]
        },
        {
            title:"Información curso actual",
            columns:[
                {title:"AL",field:"AlumnosAnterioresactual"},
                {title:"AL",field:"AlumnosActualesactual"},
                {
                    title:"GA",
                    field:"GruposGrandesactual",
                    editor:"input",
                    cellEdited:function(cell){
                        var fila = cell.getRow()
                        var ratio = fila.getCell("RatioTeoriaactual")
                        var alumnos = fila.getCell("AlumnosActualesactual")

                        var nuevoRatio = alumnos.getValue()/cell.getValue()
                        ratio.setValue(nuevoRatio, true)

                        var incrementoTeoria = fila.getCell("IncrementoTeoria")
                        var gruposGrandesAnteriores = fila.getCell("GruposGrandespasado")
                        var creditosGrupoGrande = fila.getCell("CRGA")
                        
                        var nuevoIncrementoTeoria = (cell.getValue() - gruposGrandesAnteriores.getValue()) * creditosGrupoGrande.getValue()
                        var diferenciaIncrementos = nuevoIncrementoTeoria - incrementoTeoria.getValue()
                        incrementoTeoria.setValue(nuevoIncrementoTeoria, true)

                        var incrementoTotal = fila.getCell("IncrementoTotal")
                        var valorIncrementoTotal = incrementoTotal.getValue()
                        var nuevoIncrementoTotal = modificaIncrementoTotal(incrementoTotal,diferenciaIncrementos)

                        var creditosTotales = fila.getCell("Creditos")
                        var diferenciaIncrementosTotales = nuevoIncrementoTotal - valorIncrementoTotal
                        modificaCreditosTotales(creditosTotales,diferenciaIncrementosTotales)

                        var gruposAnteriores = cell.getOldValue()
                        colorCeldas(cell,gruposAnteriores)
                    }
                },
                {
                    title:"GR",
                    field:"GruposReducidosactual",
                    editor:"input",
                    cellEdited:function(cell){
                        var fila = cell.getRow()
                        var ratio = fila.getCell("RatioPracticasactual")
                        var alumnos = fila.getCell("AlumnosActualesactual")

                        var nuevoRatio = alumnos.getValue()/cell.getValue()
                        ratio.setValue(nuevoRatio, true)

                        var incrementoPracticas = fila.getCell("IncrementoPractica")
                        var gruposPequeñosAnteriores = fila.getCell("GruposReducidospasado")
                        var creditosGrupoPequeño = fila.getCell("CRGR")

                        var nuevoIncrementoPracticas = (cell.getValue() - gruposPequeñosAnteriores.getValue()) * creditosGrupoPequeño.getValue()
                        var diferenciaIncrementos = nuevoIncrementoPracticas - incrementoPracticas.getValue()
                        incrementoPracticas.setValue(nuevoIncrementoPracticas, true)

                        var incrementoTotal = fila.getCell("IncrementoTotal")
                        var valorIncrementoTotal = incrementoTotal.getValue()
                        var nuevoIncrementoTotal = modificaIncrementoTotal(incrementoTotal,diferenciaIncrementos)

                        var creditosTotales = fila.getCell("Creditos")
                        var diferenciaIncrementosTotales = nuevoIncrementoTotal - valorIncrementoTotal
                        modificaCreditosTotales(creditosTotales,diferenciaIncrementosTotales)

                        var gruposAnteriores = cell.getOldValue()
                        colorCeldas(cell,gruposAnteriores)
                    }
                },
                {
                    title:"Rat T",
                    field:"RatioTeoriaactual",
                    formatter:function(cell,formatterParams){
                        return colorGrupos(cell,formatterParams,"T")
                    }
                },
                {
                    title:"Rat P",
                    field:"RatioPracticasactual",
                    formatter:function(cell,formatterParams){
                        return colorGrupos(cell,formatterParams,"P")
                    }
                }
            ]
        },
        {
            title:"Incrementos curso pasado/actual",
            columns:[
                {title:"Dif",field:"Diferencia"},
                {title:"IT",field:"IncrementoTeoria"},
                {title:"IP",field:"IncrementoPractica"},
                {title:"INC",field:"IncrementoTotal"},
                {title:"CD",field:"Creditos"}
            ]
        }
    ]
    
    let diccionario = {{ tablas|safe }}

    for (let clave in diccionario) {
        let selector = "#" + clave

        new Tabulator(
            selector,
            {
                data:diccionario[clave],
                layout:"fitDataStretch",
                columns:configuracion
            }
        )
    }
</script>

{% endblock %}